
.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between
}

.justify-content-start {
  justify-content: flex-start
}

.flex-direction-column {
  flex-direction: column;
}