button {
  border: none;
  cursor: pointer;
}

.user-control-button {
  background-color: $primary-color;
  color: $secondary-color;
  font-size: 1.5rem;
  position: relative;
  padding: 8px;

  &:hover {
    background-color: rgb(64, 64, 64);
    border-radius: 45%;
  }
}

.addCart-details {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 4px 42px;
  border-radius: 24px;
  font-size: 18px;
  gap: 32px;
  width: fit-content;
  margin-top: 16px;
}

.fav-icon {
  position: absolute;
  right: 0;
  font-size: 1.4rem;
  padding: 0.5rem;
  margin: 1rem;
  font-weight: 300;
  border-radius: 50%;

  &:hover {
    background-color: rgba(202, 196, 196, 0.6);
  }
}

.back-button {
  width: 38px;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 8px;

  &:hover {
    border: 2px solid $primary-color;
  }
}

.counter-button {
  font-size: 20px;
  background-color: $primary-color;
  color: $secondary-color;
  border-radius: 50%;
  border: 1px solid $primary-color;
}


.fav-detail {
  color: #484747;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1.3rem;
  margin-top: 16px;

  &:hover {
    background-color: rgba(202, 196, 196, 0.6);
  }
}

.filter-sort-panel {

  
  .filter-sort-panel-button {
    min-width: 135px;
    height: 40px;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
    background-color: $secondary-color;
    border: 1px solid rgb(168, 164, 164);
  }
}

.close-filter {
  font-size: 1rem;
  text-align: center;
  margin: 16px;
  padding: 8px;
  background-color: #fffcfc;

  &:hover {
    border-radius: 50%;
    background-color: rgba(202, 196, 196, 0.6);
  }
}

.apply-filter {
  text-align: center;
  background-color: $primary-color;
  color: $secondary-color;
  padding: 16px 150px;
  font-size: 20px;
}

.clear-all {
  height: 30px;
  width: 300px;
  text-align: center;
  background-color: $secondary-color;

  .ri-close-circle-line {
    font-weight: 800;
    font-size: 18px;
  }
}


.ri-heart-fill {
  color: $fav-color ;
}